version: '3.7'

services:
  etl:
    build: .
    restart: on-failure
    environment:
      - CONFIG_PATH=/app/config.ini
      - DB=postgres
    volumes:
      - ./samples/insurance-app/blocks/:/tmp/blocks
      - ./samples/marbles/blocks/:/tmp/iroha/blocks
    depends_on:
      - postgres
  
  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword

  metabase:
    image: metabase/metabase
    ports:
      - 3000:3000

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/

  # nifi:
  #   image: apache/nifi:1.15.3
  #   ports:
  #     - 8443:8443
  #   volumes:
  #     - ./samples/insurance-app/blocks/:/tmp/insurance-app/blocks
  #   environment:
  #     - SINGLE_USER_CREDENTIALS_USERNAME=admin
  #     - SINGLE_USER_CREDENTIALS_PASSWORD=nifi123admin
  
